<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Silo.Ui.Gate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Silo.Ui.Gate.Properties.Settings>
            <setting name="StartUpFlag" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SocketPort" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="ServerIp" serializeAs="String">
                <value>localhost:5113</value>
            </setting>
            <setting name="TagControlTime" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="AlarmRelayPort" serializeAs="String">
                <value>COM6</value>
            </setting>
            <setting name="ReaderPower" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="MotionDetect" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Buzzer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Port_Board" serializeAs="String">
                <value />
            </setting>
            <setting name="WM_EPC_Pattern" serializeAs="String">
                <value>AAAAAAAA</value>
            </setting>
            <setting name="KindShowProduct" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GateNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GateTitle" serializeAs="String">
                <value>خروجی سالن تولید</value>
            </setting>
            <setting name="FromStore" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ToStore" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="GateType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TagDetectInMultiPart" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IgnoringNonExistentGoods" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AtentionForNotRegisteredTag" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ReaderConnectDetails" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="ReaderType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReaderConnectionType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FromStoreTitle" serializeAs="String">
                <value>انبار محصول</value>
            </setting>
            <setting name="ToStoreTitle" serializeAs="String">
                <value>فروش رفته</value>
            </setting>
            <setting name="StartActionKind" serializeAs="String">
                <value />
            </setting>
            <setting name="StartActionDetails" serializeAs="String">
                <value />
            </setting>
            <setting name="EndActionKind" serializeAs="String">
                <value />
            </setting>
            <setting name="EndActionDetails" serializeAs="String">
                <value />
            </setting>
            <setting name="DetectANDSaveMachin" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SearchMachin" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MachinType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ControlByDocument" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GetDocumentFromProductInfo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RequirmentDocument" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GetInventorySummaryByStoreCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AtentionForFreezedTag" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AtentionForNotQCTag" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="KindGateSave" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TrueRelayDetails1" serializeAs="String">
                <value />
            </setting>
            <setting name="TrueRelayDetails2" serializeAs="String">
                <value />
            </setting>
            <setting name="TrueRelayDetails3" serializeAs="String">
                <value />
            </setting>
            <setting name="TrueRelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserAccessForDeleteTrueSerial" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UserAccessForDeleteErrorSerial" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ProductValueImportant" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AtentionForWithOutQCTag" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IgnoringTagAgeThenLess" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IgnoringTagAgeThenLessDetails" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GetTagFromHandheld" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlaySoundForAlarm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlaySoundForConfirm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TrueRelayDetails4" serializeAs="String">
                <value />
            </setting>
            <setting name="AlarmRelayDetails1" serializeAs="String">
                <value />
            </setting>
            <setting name="AlarmRelayDetails2" serializeAs="String">
                <value />
            </setting>
            <setting name="AlarmRelayDetails3" serializeAs="String">
                <value />
            </setting>
            <setting name="AlarmRelayDetails4" serializeAs="String">
                <value />
            </setting>
            <setting name="AlarmRelay" serializeAs="String">
                <value />
            </setting>
            <setting name="ChangeReaderPowerTools" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IgnoreSerials" serializeAs="String">
                <value />
            </setting>
            <setting name="ChangeDocumentStatusAfterCheck" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AppReset" serializeAs="String">
                <value>0</value>
            </setting>
        </Silo.Ui.Gate.Properties.Settings>
    </userSettings>
</configuration>