.search-button-div {
    display: block !important;
    text-align: left !important;
    margin-top: -60px !important;
    width: 160px;
    position: absolute;
    left: 10px;
    top: 150px;
}

.report-inventory-conflicts {
    div {
        div {
            form {
                div {
                    .k-tabstrip {
                        .k-tabstrip-content {
                            display: contents !important;
                        }
                    }
                }
            }
        }
    }
}